.Groupthumb {
    display: inline-flex;
    background-color: #bbb;

    > a{
        display: inline-block;
        img {
            height: auto;
            width: 300px;
            height: 100%;
            object-fit: cover;
        }
    }

    > div {
        display: inline-block;
        padding: 15px;

        h3 {
            a {
                text-decoration: none;
                color: black;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 3px;
                img {
                    border-radius: 50%;
                    width: 30px;
                    aspect-ratio: 1;
                    object-fit: cover;
                }
            }
        }

        h4 {
            display: block;
            margin-bottom: 5px;
        }

        div {
            a {
                display: inline-block;
                margin-right: 10px;
                padding: 5px 30px 5px 10px;
                border-radius: 5px;
                background-color: #9716A3;
                text-decoration: none;
                h5 {
                    color: #fff;
                    padding: 0;
                    margin: 0;
                }
                span {
                    color: #fff;
                }
            }
        }
    }
}