.vs/VSWorkspaceState.json
.vs/Frontend GP/FileContentIndex/0ec6e924-be9a-4ffc-90a9-8e8d0aa12b39.vsidx
.vs/Frontend GP/FileContentIndex/37b4279b-886f-4c45-bcd4-f97847deeb3a.vsidx
.vs/Frontend GP/FileContentIndex/51df0184-5025-4cff-882d-44f96869afff.vsidx
.vs/Frontend GP/FileContentIndex/280d08fa-12e2-40f0-9195-efbde4d14308.vsidx
.vs/Frontend GP/FileContentIndex/read.lock
.vs/Frontend GP/v17/.wsuo
.vs/Structure/FileContentIndex/read.lock
.vs/Structure/v17/.wsuo
