.Groupthumb {
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(black, .15);

    > a{
        display: inline-block;
        img {
            height: auto;
            width: 300px;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 0 0 10px;
        }
        transition: .2s;

        &:hover {
            opacity: .8;
        }
    }

    > div {
        display: inline-block;
        padding: 15px;

        h3 {
            a {
                text-decoration: none;
                color: black;
                transition: .2s;

                &:hover {
                    color: lighten(#9716A3, 8);
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 3px;
                a{
                    transition: .2s;

                    &:hover {
                        opacity: .6;
                    }
                    img {
                        border-radius: 50%;
                        width: 30px;
                        aspect-ratio: 1;
                        object-fit: cover;
                    }
                }
            }
        }

        h4 {
            display: block;
            margin-bottom: 5px;
        }

        div {
            a {
                display: inline-block;
                margin-right: 10px;
                padding: 5px 30px 5px 10px;
                border-radius: 5px;
                background-color: #9716A3;
                text-decoration: none;
                margin-bottom: 5px;
                transition: .2s;
                h5 {
                    color: #fff;
                    padding: 0;
                    margin: 0;
                }
                span {
                    color: #fff;
                }

                &:hover {
                    background-color: lighten(#9716A3, 8);
                }
            }
        }
    }
}